* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 1600px;
    height: 92px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
    
    background: #ffffff;
}

.navbar-inner {
    max-width: 1600px;
    height: 92px;
    margin: auto;
    padding: 0 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu a {
    text-decoration: none;
    color: #1f2937;
    font-size: 16px;
}

.nav-btn button {
    background: #3b8d5a;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.nav-btn button:hover {
    background: #2f855a;
}
.banner {
    width: 100%;
    height: 674px;
    margin-top: 10px;

    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;

    padding: 70px 120px 134px;
    display: flex;
    align-items: center;
}

.banner-content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 40px;
    color: #ffffff;
}

.badge {
    background: #ffffff;
    color: #2f855a;
    padding: 6px 14px;
    border-radius: 20px;
    width: fit-content;
    font-size: 14px;
    margin: auto;
}
.banner-content h1 {
    font-size: 56px;
    line-height: 1.2;
}

.banner-content h1 span {
    color: #4ade80;
}

.banner-content p {
    font-size: 16px;
    max-width: 600px;
    line-height: 1.6;
}

.banner-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}



.primary-btn {
    background: #3b8d5a;
    color: #ffffff;
    border: none;
    padding: 14px 24px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}
.primary-btn:hover {
    background: #2f855a;
}

.secondary-btn {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 14px 24px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
}

.secondary-btn:hover {
    border: 1px solid #100101;
}


